<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>These are the latest messages</h2>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <li>
          <div><%= messages[i].user %></div>
          <div><%= messages[i].text %></div>
          <div><%= messages[i].added %></div>
        </li>
      <% } %>
    </ul>
  </body>
</html>
