<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>These are the latest messages</h2>
    <ul>
      <% messages.forEach(message => { %>
        <li>
          <div><%= message.user %></div>
          <div><%= message.text %></div>
          <div><%= message.added %></div>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
